<!DOCTYPE html>
<html>
<head>
  <title>Tour maven</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# stylesheet_link_tag    "tour_maven/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
